<!-- Masthead -->
<header class="masthead text-white text-center" track-scroll>
  <div class="overlay"></div>
  <div class="hero-container row">
    <div class="title-content col-md-8 col-10 m-auto text-center">
      <div class="text-uppercase">What's On Your <span class="black-diamond-font">MIND?</span></div>
      <div>We look forward to hearing from you!</div>
    </div>
  </div>
</header>

<!-- Image Showcases -->
<section class="p-4">
  <form>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="text-uppercase" for="exampleInputEmail1">Name</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="text-uppercase" for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
          </div>    
        </div>
        
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="text-uppercase" for="exampleInputEmail1">Tell us your thoughts</label>
              <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
          </div>
        </div>
        
        <div class="">
          <div class="pull-right">
            <button type="submit" class="common-gw-button">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>