@import '../../../sass/variables';

section {
  padding: 45px;
  
  form {
    font-family: 'spartan_light';
    font-size: 15px;
    letter-spacing: 2.5px;
    color: $black;

    .form-group {
      input {
        &.form-control {
          max-height: 30px;
          border: 1px solid $green;
        }
      }

      textarea {
        &.form-control {
          min-height: 200px;
          border: 1px solid $green;
        }
      }
    }
  }

  .success-container {
    margin: 50px auto 0;
    
    i {
      font-size: 60px;
      padding: 25px;
      border-radius: 50%;
      border: 5px solid $gray-400;
      color: $green;
    }
    
    .title {
      font-family: 'spartan';
      font-size: 60px;
      letter-spacing: 5px;
      color: #9ed5be;
      margin: 45px 0 20px;
    }
    
    .sub-text {
      font-size: 20px;
      line-height: 2;
      letter-spacing: 0.6px;
    }
  }
}