<!-- Masthead -->
<header class="masthead text-white text-center" track-scroll>
  <div class="overlay"></div>
  <div class="hero-container">
    <div class="row">
      <div class="title-content col-md-8 col-10 m-auto text-center">
        <div class="text-uppercase">What's On <span class="black-diamond-font">YOUR</span> Mind?</div>
        <div>Have a problem or praise? Good or bad, we look forward to hearing from you!</div>
      </div>
    </div>
  </div>
</header>

<!-- Image Showcases -->
<section>
  <form [formGroup]="contactForm" (ngSubmit)="submit()" *ngIf="!formSubmitted" novalidate>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="text-uppercase" for="nameInput">Name</label>
              <input type="text" class="form-control" formControlName="name" placeholder="Name" id="nameInput">
              <div class="form-field-error" *ngIf="contactFormErrors.name.required">
                Name is required
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="text-uppercase" for="emailInput">Email</label>
              <input type="email" class="form-control" formControlName="email" placeholder="Email" id="emailInput">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              <div class="form-field-error" *ngIf="contactFormErrors.email.required">
                Email is required!
              </div>
              <div class="form-field-error" *ngIf="!contactFormErrors.email.required && contactFormErrors.email.email">
                Enter a valid email!
              </div>
            </div>
          </div>    
        </div>
        
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="text-uppercase" for="thoughtsTextarea">Tell us your thoughts</label>
              <textarea class="form-control" formControlName="thoughts" placeholder="Type here..." id="thoughtsTextarea" rows="3"></textarea>
              <div class="form-field-error" *ngIf="contactFormErrors.thoughts.required">
                Required field!
              </div>  
            </div>
          </div>
        </div>
        
        <div>
          <div class="pull-right">
            <button type="submit" class="btn common-gw-button" [disabled]="contactForm.invalid">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="success-container container" *ngIf="formSubmitted">
    <div class="row">
      <div class="col-md-12 text-center">
        <i class="fa fa-check" aria-hidden="true"></i>
        <div class="title text-uppercase">Thank you!</div>
        <div class="sub-text">Your form was submitted successfully!</div>
      </div>
    </div>    
  </div>
</section>