<div class="row justify-content-md-center mb-4">
  <div class="col-md-8 col-12">
    <h3 class="steps-title">What services do you offer?</h3>
    <p>Let your clients know what they can book with you.</p>
  </div>
</div>
<div class="row text-start d-none d-md-flex justify-content-md-center mb-2">
  <div class="col-lg-4 col-6">
    <label>Service</label>
  </div>
  <div class="col-lg-2 col-3">
    <label>Price</label>
  </div>
  <div class="col-lg-2 col-3">
    <label>Time</label>
  </div>
</div>
{{services | json}}
<div class="row text-start justify-content-md-center mb-4" *ngFor="let service of services">
  {{service | json}}
  <div class="col-lg-4 col-12 mb-2 mb-lg-0">
    <input type="text" class="service" [value]="service.name" />
  </div>
  <div class="col-lg-2 col-6 d-flex align-items-center p-2 py-lg-0">
    <div class="me-2"></div><input placeholder="$0.00" type="text" [value]="service.price" />
  </div>
  <div class="col-lg-2 col-6 p-2 py-lg-0 px-lg-3">
    <select class="input">
      <option value=''>Select Time {{service.time}}</option>
      <ng-container *ngFor="let time of times; let i = index">
        <option [value]="i+1" [attr.selected]="service.time == (i+1) ? true : null">{{time}}</option>
      </ng-container>
    </select>
  </div>
</div>

<form [formGroup]="formGroup">
  <div class="row text-start justify-content-md-center mb-4">
    <div class="col-lg-4 col-12 col-12 mb-2 mb-lg-0">
      <input type="text" class="service" formControlName="name" placeholder="Your service..." />
    </div>
    <div class="col-lg-2 col-6 d-flex align-items-center p-2 py-lg-0">
      <div class="me-2"></div><input placeholder="$0.00" formControlName="price" type="text" />
    </div>
    <div class="col-lg-2 col-6 p-2 py-lg-0 px-lg-3">
      <select formControlName="time" class="input">
        <option value=''>Service Time</option>
        <ng-container *ngFor="let time of times; let i = index">
          <option [value]="i+1">{{time}}</option>
        </ng-container>
      </select>
    </div>
  </div>
</form>

<div class="row text-start justify-content-md-center">
  <div class="col-lg-8 col-12" (click)="addService()">
    <span class="add-button">Add Service</span>
  </div>
</div>