<div class="row justify-content-md-center mb-4">
  <div class="col-8">
    <h3 class="steps-title">What services do you offer?</h3>
    <p>Let your clients know what they can book with you.</p>
  </div>
</div>
<div class="row text-left justify-content-md-center mb-2">
  <div class="col-4">
    <label>Service</label>
  </div>
  <div class="col-2">
    <label>Price</label>
  </div>
  <div class="col-2">
    <label>Time</label>
  </div>
</div>

<div class="row text-left justify-content-md-center mb-4" *ngFor="let service of services">
  <div class="col-4">
    <input type="text" class="service" [value]="service.name" />
  </div>
  <div class="col-2 d-flex align-items-center">
    <div class="mr-2">$</div><input type="text" [value]="service.price" />
  </div>
  <div class="col-2">
    <select class="input">
      <ng-container *ngFor="let time of times; let i = index">
        <option [value]="i+1" [attr.selected]="service.time == (i+1) ? true : null">{{time}}</option>
      </ng-container>
    </select>
  </div>
</div>

<form [formGroup]="formGroup">
  <div class="row text-left justify-content-md-center mb-4">
    <div class="col-4">
      <input type="text" class="service" formControlName="name" placeholder="Your service..." />
    </div>
    <div class="col-2 d-flex align-items-center">
      <div class="mr-2">$</div><input formControlName="price" type="text" />
    </div>
    <div class="col-2">
      <select formControlName="time" class="input">
        <ng-container *ngFor="let time of times; let i = index">
          <option [value]="i+1">{{time}}</option>
        </ng-container>
      </select>
    </div>
  </div>
</form>

<div class="row text-left justify-content-md-center">
  <div class="col-8" (click)="addService()">
    <span class="add-button">Add Service</span>
  </div>
</div>