.underlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
  overflow: hidden;
}

.arrow {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: 1px solid #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.scheduler-container {
  background: #ffffff;
  width: 50%;
  height: 90%;
  margin: 2% 25%;
  padding: 20px;
  border-radius: 20px;
  overflow-x: hidden;
  overflow-y: scroll;

  @media all and (max-width: 970px) {
    width: 100%;
    margin: 0;
    height: 100%;
  }

  h2 {
    font-family: "proxima_novaregular";
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    justify-content: center;
    color: #000000;
  }

  .text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #828282;
  }
}

.month {
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-family: "proxima_novabold";
  color: #1fb2b9;
  height: 22px;
  width: 33px;
}

.week {
  font-size: 12px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #828282;

  .select-date {
    cursor: pointer;
  }

  .date {
    font-size: 14px;
    color: #000000;
    width: 33px;
  }

  .day {
    width: 33px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
  }

  .date {
    width: 33px;
    height: 32px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.current {
    color: #1fb2b9;

    .date {
      background: #dedede;
    }
  }

  &.active {
    .date {
      background: #1fb2b9;
      color: #ffffff;
    }
  }
}

.time-header {
  font-size: 14px;
  line-height: 24px;
  color: #828282;
  border: 1px solid rgba(0, 0, 0, 0.06);
  padding: 10px 60px;
  justify-content: center;
  display: flex;
}

.time-morning {
  .time-header,
  .time-column {
    border-right: 0;
  }
}

.time-evening {
  .time-header,
  .time-column {
    border-left: 0;
  }
}

.time-column {
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 8px 15px;
}

.time {
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px 60px;
  margin: 8px 0;
  cursor: pointer;

  &.selected {
    background: #e2fdff;
    border: 1px solid #5ab7bb;
    color: #5ab7bb;
  }

  &.unavailable {
    background: #e7e7e7;
    border: 1px solid rgba(0, 0, 0, 0.06);
    color: rgba(0, 0, 0, 0.06);
  }
}

.service {
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.service-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.11em;
  text-transform: uppercase;
}

.service-desc {
  font-size: 14px;
  line-height: 18px;
  color: #828282;
}

.service-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.service-times {
  font-size: 14px;
  line-height: 24px;
  color: #454545;
}

.cancel-button {
  background: #a0a9ba;
}
