<div class="detail-component">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Client Detail</h1>
          <p>Here you can add notes, images, appointment details to your client</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-center">
          <img *ngIf="clientProfileImage" [src]="clientProfileImage" />
          <input type="file" ng2FileSelect [uploader]="uploader" />
        </div>
        <div class="col-md-6">
          <form novalidate [formGroup]="detailForm" (ngSubmit)="onUpdate()">
            <div class="form-group">
              <input class="form-control" type="text" formControlName="name"  placeholder="Name" />
              <div class="form-field-error" *ngIf="detailFormErrors.name.required">
                Name is required
              </div>
            </div>              
            <div class="form-group">
              <input class="form-control" type="text" formControlName="zip" placeholder="Zipcode" />
              <div class="form-field-error" *ngIf="detailFormErrors.zip.required">
                Zipcode is required
              </div>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" formControlName="email" placeholder="Email" />
              <div class="form-field-error" *ngIf="detailFormErrors.email.required">
                Enter is required
              </div>
              <div class="form-field-error" *ngIf="!detailFormErrors.email.required && detailFormErrors.email.email">
                Enter a valid email
              </div>
            </div>
            <button [disabled]="detailForm.invalid" class="btn btn-primary">Update</button>
          </form>
          <div class="mt-4">
            <button (click)="fileInput.click()" class="btn btn-primary">Add Images to Portfolio</button>
            <span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
              <input type="file" multiple #fileInput ng2FileSelect [uploader]="portfolioImageUploader" />
            </span>
          </div>    
        </div>
      </div>
      <div class="client-portfolio-container mt-4">
        <h1>Client Portfolio</h1>
        <div class="row">
          <div
            class="portfolio col-md-4 col-sm-12 py-2"
            *ngFor="let image of clientPortfolioImage"
            (click)="openPortfolioDetailModal(portfolioDetailModal, image)">
            <img [src]="image" />
          </div>
        </div>
      </div>
      <div class="mt-4">
        <h1>Client Notes</h1>
        <textarea class="w-100" [(ngModel)]="clientNote" rows="5" cols="30"></textarea>
        <div class="form-field-error" *ngIf="!clientNote">
          Note is required!
        </div>
        <div class="d-flex">
          <div>
            <img *ngIf="clientNoteImage" [src]="clientNoteImage" />
            <input type="file" multiple ng2FileSelect [uploader]="noteImageUploader" />
          </div>
          <div>
            <button [disabled]="!clientNote" class="btn btn-primary" (click)="addClientNote()">Add Client Note</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #portfolioDetailModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Portfolio Detail</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body m-auto">
    <img [src]="selectedImageForModal" />
  </div>
  
  <div class="m-2">
    <textarea class="w-100" [(ngModel)]="selectedImageForModal" rows="5" cols="30"></textarea>
    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-outline-dark" (click)="deletePortfolio()">Delete Image</button>
      <button type="button" class="btn btn-outline-primary" (click)="updateCaptionForPortfolio()">Update Caption</button>
    </div>
  </div>
</ng-template>