@import '../../../../../sass/_mixins';
@import '../../../../../sass/_variables';

.detail-component {
  padding-top: 100px;

  .profile-title {
    font-size: 52px;
    letter-spacing: 0.6px;
  }

  .profile-row {
    .photo-column {
      img {
        height: 88%;
      }
    }
  }
  
  .form-field-error {
    color: $danger;
    font-size: 12px;
    margin: 2px;
  }
  
  img {
    height: 200px;
  }
  
  .portfolio-title {
    display: inline-block;
    font-family: "proxima_novalight", Arial, sans-serif;
    font-size: 30px;
    letter-spacing: 9px;
    color: $white;
    background: $black;
    padding: 20px 50px;
  }

  .client-portfolio-container {
    background: $black;
    padding: 10px 0 50px;

    app-cloudinary-uploader {
      .cloudinary-uploader-component {
        button {
          font-family: "proxima_novasemibold", Arial, sans-serif;
          font-size: 17px;
          letter-spacing: 5.1px;  
          background: $green;
          color: $black;
          padding: 5px 50px;
        }  
      }
    }

    .portfolio {
      cursor: pointer;
      text-align: center;
      
      img {
        width: 100%;
        height: 400px;
      }
    }
  }

  .client-notes-container {
    padding: 50px;

    .notes-add-button {
      width: 220px;
      height: 43px;
      font-family: "proxima_novalight", Arial, sans-serif;
      font-size: 20px;
      letter-spacing: 6px;
      border: 1px solid $gray-300;
      border-radius: 5px;
      padding: 10px;
      background: white;
      color: #737370;
      margin-bottom: 50px;
      
      i {
        font-size: 30px;
        color: $green;
        margin-right: 10px;
      }
    }

    .notes-form {
      transition: max-height ease 0.5s;
      max-height: 0;
      overflow: hidden;

      &.opened {
        height: 500px;
        max-height: 500px;
      }

      textarea {
        &.public {
          border-color: $red;
        }
      }

      .note-image {
        position: relative;

        // img {
        //   width: 100%;
        // }

        i {
          cursor: pointer;
          position: absolute;
          bottom: 7px;
          left: 21px;
          font-size: 30px;
        }
      }
    }
  }
}
