<div class="detail-component">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Client Detail</h1>
                    <p>Here you can add notes, images, appointment details to your client</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <img *ngIf="clientProfileImage" [src]="clientProfileImage" />
                    <input type="file" ng2FileSelect [uploader]="uploader" />
                </div>
                <div class="col-md-6">
                    <form novalidate [formGroup]="detailForm" (ngSubmit)="saveClient()">
                        <div class="form-group">
                            <input class="form-control" type="text" formControlName="name"  placeholder="Name" />
                            <div class="form-field-error" *ngIf="detailFormErrors.name.required">
                                Name is required!
                            </div>
                        </div>              
                        <div class="form-group">
                            <input class="form-control" type="text" formControlName="zip" placeholder="Zipcode" />
                            <div class="form-field-error" *ngIf="detailFormErrors.zip.required">
                                Zipcode is required!
                            </div>
                        </div>
                        <button [disabled]="detailForm.invalid" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>