@import '../../../../../sass/_mixins';
@import '../../../../../sass/_variables';

.detail-component {
  padding-top: 100px;

  .fa {
    font-size: 50px;
  }

  .status {
    background: $black;
    color: $green;
  }

  .icon-title {
    margin: 5%;
    font-size: 16px;
    font-weight: bold;
  }

  .icon-text {
    font-size: 14px;
    font-style: italic;
  }

  .profile-title {
    font-size: 52px;
    letter-spacing: .6px;
  }

  .portfolio-title {
    display: inline-block;
    font-family: "proxima_novalight", Arial, sans-serif;
    font-size: 30px;
    letter-spacing: 9px;
    color: $white;
    background: $black;
  }

  .client-portfolio-container {
    background: $black;

    .portfolio {
      cursor: pointer;
      text-align: center;

      img {
        width: 100%;
      }
    }
  }

  .client-notes-add-button-container {
    padding: 50px;
  }
}
