<div class="detail-component">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Client Detail</h1>
          <p>Here you can add notes, images, appointment details to your client</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 d-flex flex-column align-items-center justify-content-between">
          <img *ngIf="clientProfileImage" [src]="clientProfileImage" />
          <app-cloudinary-uploader
            [folderName]="'client_profile'"
            [buttonName]="'Upload'"
            (completeItem)="profileImageUploadCompleted($event)">
          </app-cloudinary-uploader>
        </div>
        <div class="col-md-6">
          <form novalidate [formGroup]="detailForm" (ngSubmit)="onUpdate()">
            <div class="form-group">
              <input class="form-control" type="text" formControlName="name"  placeholder="Name" />
              <div class="form-field-error" *ngIf="detailFormErrors.name.required">
                Name is required
              </div>
            </div>              
            <div class="form-group">
              <input class="form-control" type="text" formControlName="zip" placeholder="Zipcode" />
              <div class="form-field-error" *ngIf="detailFormErrors.zip.required">
                Zipcode is required
              </div>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" formControlName="email" placeholder="Email" />
              <div class="form-field-error" *ngIf="detailFormErrors.email.required">
                Email is required
              </div>
              <div class="form-field-error" *ngIf="!detailFormErrors.email.required && detailFormErrors.email.email">
                Enter a valid email
              </div>
            </div>
            <button [disabled]="detailForm.invalid" class="btn btn-primary">Update</button>
          </form>
          <div class="mt-4">
            <app-cloudinary-uploader
              [folderName]="'client_portfolio'"
              [buttonName]="'Add Images to Portfolio'"
              (completeItem)="portfolioImageUploadCompleted($event)">
            </app-cloudinary-uploader>
          </div>    
        </div>
      </div>
      <div class="client-portfolio-container mt-4">
        <h1>Client Portfolio</h1>
        <div class="row">
          <div
            class="portfolio col-md-3 col-sm-12 py-2"
            *ngFor="let image of clientPortfolioImages"
            (click)="openPortfolioDetailModal(portfolioDetailModal, image)">
            <img [src]="image" />
          </div>
        </div>
      </div>
      <div class="client-notes-container mt-4">
        <div class="d-flex align-items-center">
          <h1>Client Notes</h1>
          <i (click)="openNotesForm()" class="notes-add-button fa fa-plus-circle" aria-hidden="true"></i>    
        </div>
        <div class="notes-form" [class.opened]="isNotesFormOpened">
          <textarea class="w-100" [class.public]="isPublicNotes" [(ngModel)]="clientNote" rows="5" cols="30"></textarea>
          <div class="form-field-error" *ngIf="!clientNote">
            Note is required!
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <app-cloudinary-uploader
                [folderName]="'client_notes'"
                [buttonName]="'Attach/Upload Image'"
                (completeItem)="notesImageUploadCompleted($event)">
              </app-cloudinary-uploader>
              <div class="row mt-4">
                <div
                  class="note-image col-md-4 col-sm-12"
                  *ngFor="let image of clientNotesImages; index as idx">
                  <img [src]="image" />
                  <i class="fa fa-trash" (click)="removeNoteImage(idx)"></i>
                </div>
              </div>
              <button class="btn btn-primary mt-4" (click)="cancelNote()">Cancel</button>
            </div>
            <div class="d-flex flex-column justify-content-between">
              <div class="d-flex justify-content-between align-items-center">
                <div>Public?</div>
                <input 
                  type="checkbox"
                  class="switch"
                  [checked]="isPublicNotes"
                  [(ngModel)]="isPublicNotes"/>
              </div>
              <button [disabled]="!clientNote" class="btn btn-primary mt-4" (click)="addClientNote()">Add Client Note</button>
            </div>
          </div>
        </div>
        <div class="notes-content">
          <div class="mt-4" *ngFor="let note of clientNotes">
            <app-note-card [note]="note"></app-note-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #portfolioDetailModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Portfolio Detail</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body m-auto">
    <img [src]="selectedImageForModal" />
  </div>
  
  <div class="m-2">
    <textarea class="w-100" [(ngModel)]="selectedImageForModal" rows="5" cols="30"></textarea>
    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-outline-dark" (click)="deletePortfolio()">Delete Image</button>
      <button type="button" class="btn btn-outline-primary" (click)="updateCaptionForPortfolio()">Update Caption</button>
    </div>
  </div>
</ng-template>