<div class="client-component content">
  <div class="container">
    <div class="header-row row">
      <div class="col-md-6">
        <div class="black-diamond-font">PORTFOLIO</div>
      </div>
      <div class="col-md-6">
        <div class="subtitle">Explanation of portfolio</div>
      </div>
    </div>
  </div>
  <div class="green-divider"></div>
  <div class="container">
    Portfolio: {{portfolio | json}}
    Talent Filter
    List of portfolio items by talent
  </div>
</div>

<div class="container text-center text-uppercase mt-4">
    <div class="row">
      <div class="col">
        <div class="portfolio-title">Client Portfolio</div>
      </div>
    </div>
  </div>