<div class="client-component content">
  <div class="container">
    <div class="header-row">
      <div class="row">
        <div class="col-md-6">
          <div class="black-diamond-font">STYLIST PORTFOLIO</div>
        </div>
        <div class="col-md-6">
          <div class="subtitle"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="green-divider"></div>
  <div class="container" id="about" *ngIf="stylist">
    <div class="row">
      <div class="col-md-4">
        <img class="img-fluid" [src]="stylist.image" />
      </div>
      <div class="col-md-8">
        <h3>{{stylist.name}}</h3>
        <p>{{stylist.bio}}</p>
        <p>Specialties: <span class="talent" *ngFor="let talent of stylist.talents">{{talent.talent}}</span></p>
      </div>
    </div>
  </div>
</div>

<div id="portfolio" class="container text-center text-uppercase mt-4">
  <div class="row">
    <div class="col">
      <div class="portfolio-title">Client Portfolio</div>
    </div>
  </div>
  <div class="desktop-row row">
    <div class="col-md-3 text-center position-relative my-4 mt-md-0" *ngFor="let p of portfolio">
      <img class="img-fluid w-100" [src]="p.image" />
      <!--<div class="fixed-bottom position-absolute bg-white p-2">{{p.caption}}</div>-->
    </div>
  </div>
  <ngx-slick *ngIf="portfolio && portfolio.length" class="carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let p of portfolio">
      <img class="img-fluid w-100" [src]="p.image" />
      <!--<div class="fixed-bottom position-absolute bg-white p-2">{{p.caption}}</div>-->
    </div>
  </ngx-slick>  
</div>

<div id="schedule" class="section">
  <div class="container">
    <div class="row my-4">
      <div class="col-12">
        <h3>Schedule an Appointment</h3>
      </div>
      
      <div class="col-12">
        <div class="blur-overlay">
          <h3>Coming Soon</h3>
          <p>StyleSeat / Vagaro / Form Scheduling Options</p>
        </div>
        <div class="blur">
          <div class="row text-center">
            <div class="col-6">
              <img class="img-fluid" src="/assets/img/styleseat.png" />
            </div>
            <div class="col-6">
              <img class="img-flui" src="/assets/img/vagaro.png" />
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<div class="section map">
  <div style="width: 100%"><iframe width="100%" height="500" [src]="mapUrl" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/create-google-map/">Google Maps iframe generator</a></iframe></div><br />
</div>
