@import "../../../sass/variables";

.portfolio-nav {
  z-index: 1;
  background: white;
  position: fixed;
  left: 0;

  .container {
    border-bottom: 1px solid #dedede;
  }

  &.not-scrolled {
    position: relative;
  }

  &.contact-visible {
    position: absolute;
    top: 0;
  }

  &.scrolled {
    position: fixed;
    top: 0;
  }

  .nav {
    font-family: "spartan-light";
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 17px 0;

    .name {
      color: #000000;
      font-size: 16px;
      line-height: 28px;
    }

    a {
      font-size: 12px;
      line-height: 24px;
      color: #000000;

      &:hover {
        border-top: 2px solid black;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}

.portfolio-content {
  padding: 167px 0 0 0;

  &.not-scrolled {
    padding: 25px 0 0 0;
  }

  &.scrolled {
    padding: 128px 0 0 0;
  }
}

.separator {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.section-top {
  padding-top: 82px;
}

.section-bottom {
  padding-bottom: 82px;
}

.list-title {
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.list-item {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #454545;
  text-transform: capitalize;
  border-right: 1px solid #dedede;
  min-width: 100px;
}

.services-item {
  padding: 40px 0;
  border-bottom: 1px solid #f2f2f2;
}

.services-title {
  font-size: 32px;
  line-height: 42px;
}

.service-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  padding: 0 0 10px 0;
}

.service-item-desc {
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}

.side {
  border: 1px solid #e0e0e0;
}
.img-container {
  width: 100%;
  height: auto;
  border: 1px solid #dedede;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media only screen and (max-width: 990px) {
    width: 100%;
    height: 250px;
  }
}

.bio-title {
  font-size: 48px;
  line-height: 42px;
  font-weight: normal;

  @media only screen and (max-width: 768px) {
    font-size: 28px;
    line-height: 38px;
  }
}

.bio-content {
  font-size: 18px;
  line-height: 26px;
  color: #4f4f4f;

  @media only screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.container-contact {
  background: #212121;
  color: #ffffff;
  padding-top: 82px;

  .title {
    font-size: 32px;
    line-height: 42px;
    font-weight: normal;
  }
}

.loggedIn {
  padding-top: 50px;
}

.image {
  flex-grow: 1;
  border: 1px solid #dedede;
  align-items: center;
  justify-content: center;
  display: flex;
}

.side-contact {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.hour-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #000000;

  &.closed {
    color: rgba(0, 0, 0, 0.2);
  }
}

.cancel-copy {
  font-size: 12px;
  line-height: 18px;
  color: #454545;
}

.hour-day {
  flex-grow: 1;
}

.side-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

.contact-item {
  font-size: 14px;
  line-height: 24px;
  color: #454545;
}

.caption {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: #000000;
}

.contact-container {
  background: #212121;
  color: white;
  padding-top: 82px;

  .name {
    letter-spacing: 0.2em;
    padding: 17px 0;
    font-size: 32px;
    line-height: 42px;
  }

  p {
    color: #828282;
  }

  .material {
    input,
    textarea {
      background: transparent;
      border: 0;
      border-bottom: 1px solid #3e3e3e;
      color: white;
      border-radius: 0;
    }

    textarea {
      width: 100%;
    }
  }

  .button {
    background: transparent;
    border: 1px solid white;
    padding: 13px 58px;
    color: white;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.11em;
    text-transform: uppercase;
  }
}
