@import '../../../sass/variables';

.portfolio-component {
  padding-top: 100px;

  .about {
    .bio {
      line-height: 1.4rem;
    }

    .specialties {
      font-family: "proxima_novabold";
    }
  }
}

.talent {
  background: $green;
  color: $white;
  border: 1px solid $black;
  padding: 1%;
  margin: .5%;
  float: left;
}
