@import '../../../sass/variables';

.portfolio-component {
  padding-top: 100px;
  
  .about {
    .bio {
      line-height: 1.4rem;
    }
    
    .specialties {
      font-family: 'proxima_novabold';
    }
  }
}

.talent {
  background: $green;
  color: $white;
  border: 1px solid $black;
  padding: 1%;
  margin: 0.5%;
  float: left;
}

.service-desc {
  border: 2px solid #dedede;
  border-radius: 5px;
}

.time {
  &:hover {
    background: $teal;
    color: $black;
  }
  
  background: $green;
  color: $white;
  
  &.scheduled {
    background: red;
  }
}
