<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h1>Claim. Your. Chair.</h1>
        <p class="bigly">Hair To Chair keeps talented stylists connected with their clients and professional salons.</p>
      </div>
    </div>
  </div>
</header>

<!-- Icons Grid 
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Salon Availability</h3>
            <p class="lead mb-0">Be the first to know when a seat becomes open</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Talent Portfolio</h3>
            <p class="lead mb-0">Your talent is on display to potential salons &amp; client</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Privacy</h3>
            <p class="lead mb-0">You choose the information you want to be public</p>
          </div>
        </div>
      </div>
    </div>
  </section>
-->

<!-- Image Showcases -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../assets/img/bg-showcase-1.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Salon Availability</h2>
        <p class="lead mb-0">Are you looking to make a move? Keep tabs on which salons are hiring or have open chairs.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('../assets/img/bg-showcase-2.jpg');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Talent Portfolio</h2>
        <p class="lead mb-0">Showcase every snip and every curl. Highlight your latest style conquests.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../assets/img/bg-showcase-3.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Client Management</h2>
        <p class="lead mb-0">Keep track of your available clients and let your clients keep track of your availability.</p>
      </div>
    </div>
  </div>
</section>

<section class="pricing">
  <a name="pricing"></a>
  <div class="container">
    <div class="row justify-content-center" >
      <div class="col-12 text-center">
        <h2 class="pb-3">Hair To Chair will be ready soon! Want to get a head start? Signup
          today and get access to discounted rates, excluse beta user contests, and free swag!</h2>
      </div>
      <div class="col-lg-3 col-card">
        <div class="card" [ngClass]="{'active': (plan == 1)}">
          <div class="card-body">
            <h2>Basic</h2>
            <p class="bigly card-price text-center">FREE</p>
            <ul class="text-left">
              <li>manage up to 5 clients</li>
              <li>browse area salons</li>
              <li>browse potential matching clients</li>
            </ul>
          </div>
          <button (click)="plan = 1" class="btn btn-primary">SELECT THIS PLAN</button>
        </div>
      </div>
      <div class="col-lg-3 col-card">
        <div class="card" [ngClass]="{'active': (plan == 2)}">
          <div class="card-body">
            <h2>Pro</h2>
            <p class="bigly card-price text-center"><s>$14.99/mo</s></p>
            <p class="bigly card-price text-center">$9.99/mo</p>
            <ul class="text-left">
              <li>unlimited client management</li>
              <li>client email messaging</li>
              <li>salon seat notifications</li>
              <li>matching client notifications</li>
            </ul>
          </div>
          <button (click)="plan = 2" class="btn btn-primary">SELECT THIS PLAN</button>
        </div>
      </div>
      <div class="col-lg-3 col-card">
        <div class="card" [ngClass]="{'active': (plan == 3)}">
          <div class="card-body">
            <h2>Elite</h2>
            <p class="bigly card-price text-center"><s>$39.99/mo</s></p>
            <p class="bigly card-price text-center">$29.99/mo</p>
            <ul class="text-left">
              <li>unlimited client management</li>
              <li>client email messaging</li>
              <li>client text messaging</li>
              <li>priority salon seat notifications</li>
              <li>priority matching client notifications</li>
              <li>featured in talent searches</li>
            </ul>
          </div>
          <button (click)="plan = 3" class="btn btn-primary">SELECT THIS PLAN</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-signup type="stylist" [plan]="plan"></app-signup>
        </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<!--
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">What people are saying...</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">
            <h5>Margaret E.</h5>
            <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="">
            <h5>Fred S.</h5>
            <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">
            <h5>Sarah W.</h5>
            <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
          </div>
        </div>
      </div>
    </div>
  </section>
-->
<!-- Call to Action -->

<!--
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Launching Soon! Register today for 6 months of Premium STYLIZT access</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  
-->