.masthead {
    padding: 10% 0;
}


.col-card {
    @media (max-width: 1024px) {
        margin: 1rem;
    } 
}
.card {
    @media (max-width: 1024px) {
        padding: 2%;
    }

    height: 100%;
    
    button {
        width: 100%;
    }
    
    ul {
        flex-grow: 1;
        font-size: 12px;
    }
}

section {
    &.padded {
        padding: 2% 0;
    }
    
    &.pricing {
        background: #999999;
        padding: 2% 0 2% 0;
    }
    
    &.signup {
        background: #DEDEDE;
    }
}