<div class="row justify-content-md-center mb-4">
  <div class="col-8">
    <h3 class="steps-title">What brands do you work with?</h3>
    <p>Let your clients know what they can book with you.</p>
  </div>
</div>
<div class="row text-left justify-content-md-center mb-2">
  <div class="col-8 d-flex align-items-center">
    <div class="brand px-4 py-2 mr-2">Lux</div>
    <div class="brand px-4 py-2 mr-2">L'Oreal</div>
    <div class="brand px-4 py-2 mr-2">John Frieda</div>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-8 d-flex">
    <input type="text" class="mr-2" placeholder="Brand Name"/>
    <button class="button-updated"><i class="fa fa-icon fa-plus-circle"></i> Add Brand</button>
  </div>
</div>

