<div class="signup-component" [class.stylist]="type === 'stylist'" *ngIf="showSignup" [hidden]="success">
  <div class="warning-message col-12">
    <p class="bigly text-center">{{ message }}</p>
  </div>

  <div class="main-form-content col-12 mb-2 mb-md-0">
    <div class="black-diamond-font mb-2">Sign Up Now</div>
    <input type="name" [(ngModel)]="model.name" class="" placeholder="YOUR NAME">
    <input type="email" [(ngModel)]="model.email"  class="" placeholder="EMAIL ADDRESS">
    <input type="password" [(ngModel)]="model.password"  class="" placeholder="PASSWORD">
    <input type="password" [(ngModel)]="passwordConfirm"  class="" placeholder="CONFIRM PASSWORD">
    <div class="submit-button-div d-flex pb-4">
      <button (click)="signup()" class="">SUBMIT</button>
    </div>  
  </div>
</div>

<div [hidden]="!success" class="my-4">
  <h2 class="text-center">{{ this.message }}</h2>
</div>

<div *ngIf="!showSignup">
  <div class="col-12 mb-2 mb-md-0">
    <input type="email" [(ngModel)]="model.email" class="mb-2 txt-email form-control form-control-lg" placeholder="Email Address">
    <input type="password" [(ngModel)]="model.password"  class="mb-2 txt-password form-control form-control-lg" placeholder="Password">
  </div>
  <div class="col-12 mb-2">
    <button (click)="login()" class="btn btn-block btn-lg btn-primary btn-signup">Login</button>
  </div>
</div>

<!--
<div class="col-12">
  <button type="button" class="btn btn-block btn-lg btn-secondary" (click)="showSignup = !showSignup">{{showSignup ? "Already a member?" : "Not a member?"}}</button>
</div>
-->