
.action-card {
  .image-content {
    background: rgba(0, 0, 0, .8);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
    height: 300px;
    text-decoration: none;

    @media (max-width: 768px) {
      font-size: 22px;
      letter-spacing: 2px;
    }

    span {
      font-size: 35px;
      letter-spacing: 8.3px;

      @media (max-width: 768px) {
        font-size: 55px;
      }

      @media (max-width: 414px) {
        font-size: 38px;
      }
    }
  }

  .detail-content {
    color: #231f20;
    font-family: 'spartan-medium';
    font-size: 17px;
    letter-spacing: .7px;
    line-height: 1.59;
  }
}