footer.footer {
  background: $green;
  padding-top: 4rem;
  padding-bottom: 4rem;

  .icon-img {
    height: 100px;
    margin-right: 30px;
  }

  .text-white {
    font-size: 18px;
  }

  .text-dark {
    letter-spacing: 3px;
    line-height: 1.7;
  }
}
