body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 1rem;
}

.content {
  margin: 50px 0 0 0;
  min-height: 500px;
}

section {
  &.padded {
    padding: 2% 0;
  }
  
  &.pricing {
    background: #999999;
    padding: 2% 0 2% 0;
  }
  
  &.signup {
    background: #DEDEDE;
  }
}
