body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
}

.error {
    background: white;
    border-radius: 5px;
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 5px;
    margin: 5px;
    position: absolute;
    top: 55px;
    left: 20px;
    display: none;
    margin: auto;
}
