.thumbnail-section {
  background: $black;
  letter-spacing: 5px;

  .title-row {
    color: $white;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 10px;
    margin: 20px 0;

    @media (max-width: 992px) {
      font-size: 25px;
      letter-spacing: 10px;
    }
  }

  a {
    color: $white;
    letter-spacing: 2px;
  }

  .name {
    margin-bottom: 1rem;

    @media (max-width: 768px) {
      margin-top: 1rem;
    }
  }

  .bio {
    font-family: 'proxima_novaregular';
    line-height: 1.2rem;
    font-size: 0.8rem;
  }

  .talents {
    @media (max-width: 768px) {
      margin-bottom: 1rem;
    }

    .talent {
      background: $white;
      color: $black;
      float: left;
      font-size: 14px;
      margin: 2px;
      padding: 2%;
    }
  }
}