<div class="bg-container">
  <div class="bg bg-steps"></div>
</div>

<div class="container text-onboarding">
  <div class="row pt-4">
    <div class="col-12">
      <img src="assets/img/logo_updated.png" />
    </div>
  </div>
  <div class="row">
    <div class="form-body col-12 text-center pt-4">
      <mat-progress-bar mode="determinate" [value]="progressBarValue"></mat-progress-bar>
      <form [formGroup]="formGroup">
        <mat-horizontal-stepper (selectionChange)="selectionChange($event)" #stepper>
          <ng-template matStepperIcon="edit">
            <mat-icon>check</mat-icon>
          </ng-template>
          <mat-step>
            <ng-template matStepLabel>About</ng-template>
            <app-step-one></app-step-one>
          </mat-step>
          
          <mat-step>
            <ng-template matStepLabel>Address</ng-template>
            <app-step-two></app-step-two>
          </mat-step>
          
          <mat-step>
            <ng-template matStepLabel>Services</ng-template>
            <app-step-three></app-step-three>
          </mat-step>  
          
          <mat-step>
            <ng-template matStepLabel>Brands</ng-template>
            <app-step-four></app-step-four>
          </mat-step>
          
          <mat-step>
            <ng-template matStepLabel>Clients</ng-template>
            <app-step-five></app-step-five>
          </mat-step>  
        </mat-horizontal-stepper>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <button mat-button (click)="prev()" class="prev-button" *ngIf="currentStep > 1">Back</button>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <span class="status align-self-center">{{filledProgressValue}}% <span class="filled">filled</span></span>
    </div>
    <div class="col-4 text-right">
      <button mat-button (click)="next()" class="next-button">{{nextLabel}}</button>
    </div>
  </div>
</div>