@import '../../../../sass/variables';

.custom-dropdown-component {
  .dropdown-item {
    text-align: left;
    font-size: 30px;
    padding: 5% 2%;
    font-family: "proxima_novabold";
    font-size: 30px;
    letter-spacing: 10px;
    text-transform: uppercase;

    &:hover {
      background: transparent;
    }
  }
  > button {
    font-family: "proxima_novabold";
    font-size: 40px;
    letter-spacing: 16px;
    color: $green;
    background: $black;
    padding: 0 12px;
    text-transform: uppercase;
  }

  > div {
    width: 100%;
    font-size: 28px;
    text-align: center;
  }

  @media (max-width: 992px) {
    > button {
      font-size: 20px;
    }

    > div {
      font-size: 22px;
    }
  }
}