<div class="container-fluid container-try-now container-padding">
  <div class="bg-try-now"></div>
  <div class="container">
    <div class="row try-now text-white align-items-center">
      <div class="col-md-8">
        Hair To Chair is a simple to use booking app, online portfolio and client book for hair stylists &amp; barbers.
      </div>
      <div class="col-md-4">
        <div class="row text-center">
          <div class="col-12">$4.99/mo</div>
          <div class="col-12"><button class="button-v3" [routerLink]="['/landing']">Start Free Trial</button>
          </div>
          <div class="col-12 try-now-small">30 day trial, no credit card required</div>
        </div>
      </div>
    </div>
  </div>
</div>