<div class="container-fluid container-try-now container-padding">
  <div class="bg-try-now"></div>
  <div class="container">
    <div class="row try-now text-white align-items-center">
      <div class="col-md-8">
        <h2>Ready to build your hair stylist clientele and create your website?</h2>
      </div>
      <div class="col-md-4">
        <div class="row text-center">
          <div class="col-12"><button class="button-v3" [routerLink]="['/landing']">SIGN UP FOR FREE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>