@import '../../../../sass/variables';

.cloudinary-uploader-component {
  button {
    background: $gray-900;
    border-radius: 0;
  }

  span {
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    border: 0;
    margin: 0;
    padding: 0;
  }
}
