<div class="col-12 drag-drop p-2" (click)="fileInput.click()">
  <div class="row">
    <div class="col-12">
      <div class="text-center">Upload Image <i class="ml-2 fa fa-icon fa-upload"></i></div>
      <div class="pt-2" *ngIf="loadingProgress > 0">uploading... {{loadingProgress}}%</div>
    </div>
  </div>
  <span class="upload">
    <input (change)="onFileChange($event)" type="file" [attr.multiple]="(allowMultiple) ? true : null" #fileInput
      ng2FileSelect [uploader]="uploader" />
  </span>
</div>