@import '../../../../sass/variables';

.client-component {
  padding-top: 100px;

  .header-row {
    .black-diamond-font {
      font-size: 52px;
      letter-spacing: 0.8px;
    }

    .subtitle {
      font-family: "proxima_novalight", Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.6px;
      color: $gray-900;
    }
  }
}

