<div class="container">
  <div class="row mb-4">
    <div class="col-3"></div>
    <div class="col-9">
      <div class="row mb-2">
        <div class="col-6">
          <label>Name</label>
          <input class="input" type="text" formControlName="name" />
        </div>
        <div class="col-6">
          <label>Profile Name</label>
          <div class="row d-flex align-items-center">
            <div class="col-6 pr-1">
              <input class="input text-center" type="text" formControlName="url" />
            </div>
            <div class="col-6 p-1">
              .hairtochair.com
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label>Bio</label>
          <textarea class="input" formControlName="bio"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12 py-2">
      <div class="subtitle">My Social Medias</div>
    </div>
    <div class="col-4">
      <label>Facebook</label>
      <input class="input" type="text" formControlName="facebook" placeholder="facebook.com/your-name" />
    </div>
    <div class="col-4">
      <label>Twitter</label>
      <input class="input" type="text" formControlName="instagram" placeholder="@YourName" />
    </div>
    <div class="col-4">
      <label>Facebook</label>
      <input class="input" type="text" formControlName="twitter" placeholder="@YourName" />
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12 py-2">
      <div class="subtitle">Location</div>
    </div>
    <div class="col-4">
      <label>Zip</label>
      <input class="input" type="text" formControlName="zip" />
    </div>
    <div class="col-4">
      <label>City</label>
      <input class="input" type="text" formControlName="city" />
    </div>
    <div class="col-4">
      <label>State</label>
      <input class="input" type="text" formControlName="state" />
    </div>
    <div class="col-12">
      <label>Address (optional)</label>
      <input class="input" type="text" formControlName="address" />
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12 py-2">
      <div class="subtitle">Your Talents</div>
    </div>
    <div class="col-4">
    </div>
    <div class="col-8"></div>
  </div>
</div>