@import '../../../sass/variables';

header {
  &.masthead {
    .hero-container {
      .title-content {
        border-left: 2px solid $black;
        margin-bottom: 55px;

        .title {
          font-family: "Black Diamond";
          font-size: 63px;
          letter-spacing: 1.9px;
          color: $black;

          @media (max-width: 1200px) {
            // font-size: 17px;
            // line-height: 1.94;
            // letter-spacing: 0.7px;
          }
        }

        .subtitle {
          font-family: 'proxima_novamedium';
          font-size: 16px;
          line-height: 1.38;
          letter-spacing: 0.6px;
          color: #231f20;

          @media (max-width: 1200px) {
            // font-size: 40px;
          }
        }
      }

      .select-box {
        font-family: 'proxima_novalight';
        font-size: 17px;
        letter-spacing: 5.1px;
        color: $black;

        .title {
          display: inline-block;
          background: $white;
          padding: 0 22px;

          span {
            font-family: 'proxima_novabold';
          }
        }

        .options {
          padding-left: 130px;

          select {
            text-transform: uppercase;
            font-family: 'proxima_novabold';
            font-size: 17px;
            letter-spacing: 5.1px;
            color: $black;
            width: 131px;
            height: 25px;
          }
        }
      }
      // .signup-form-content {
      //   margin-top: 100px;
      // }
    }
  }
}

.find-salons-title-container {
  font-size: 40px;
  letter-spacing: 20px;
  padding: 60px 0;

  @media (max-width: 1200px) {
    letter-spacing: 10px;
  }

  @media (max-width: 992px) {
    font-size: 32px;
    letter-spacing: 5px;
  }

  @media (max-width: 768px) {
    font-size: 27px;
    letter-spacing: 3px;
  }
}

.empty-dark-section {
  height: 36px;
  background: $black;
}

.enter-search-here {
  font-size: 27px;

  input {
    font-size: 27px;
    color: $gray-700;
    letter-spacing: 7px;
    margin-left: 20px;
    padding: 19px 0;
    border: none;

    @media (max-width: 414px) {
      font-size: 17px;
      letter-spacing: 4px;
    }

    &:focus {
      box-shadow: none;
    }  
  }

  i {
    color: $green;
  }
}

.find-salons-main-section {
  background: $black;
  letter-spacing: 5px;

  .row {
    padding: 135px 0;

    @media (max-width: 576px) {
      padding: 15px 15px;
    }
  }
}

.featured-look-container{
  .featured-look-title {
    margin-bottom: 100px;
  }

  .black-diamond-font {
    position: absolute;
    font-size: 90px;
    right: 56px;
    top: -66px;

    @media (max-width: 1200px) {
      font-size: 70px;
    }

    @media (max-width: 992px) {
      font-size: 50px;
    }

    @media (max-width: 768px) {
      font-size: 35px;
    }
  }

  .col-sm-6 {
    margin-bottom: 100px;
  }
}

.talent-in-your-area-section {
  background: $black;
  letter-spacing: 5px;

  .title-row {
    color: $white;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 10px;

    @media (max-width: 992px) {
      font-size: 25px;
      letter-spacing: 10px;
    }
  }
}

.info-container {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.6px;
  margin: 50px auto;

  i {
    font-size: 60px;
    padding: 25px;
    border-radius: 50%;
    border: 5px solid $gray-400;
    color: $green;
  }

  .info-title {
    font-family: 'proxima_novabold';
    margin-top: 34px;
  }

  .info-sub-text {

  }
}

.how-it-works {
  .title {
    font-family: 'proxima_novalight';
    font-size: 30px;
    letter-spacing: 9px;
    display: inline-block;
    background: $gray-200;
    padding: 18px 200px 5px;

    @media (max-width: 768px) {
      padding: 18px 30px 5px;
    }
  }

  .bg-grey {
    background: $gray-200;

    .how-it-works-container {
      padding: 50px 0;
      
      i {
        font-size: 150px;
        margin-bottom: 30px;
      }
    
      .description {
        font-family: 'proxima_novalight';
        font-size: 14px;
        letter-spacing: 0.4px;
        color: #231f20;
    
        span {
          font-family: 'proxima_novabold';
        }
      }
    }
  }
}


.signup-component {
  .image-div {
    font-size: 30px;
    background-repeat: no-repeat;
    height: 300px;
    background-size: cover;
    letter-spacing: 5.7px;

    @media (max-width: 768px) {
      font-size: 22px;
    }

    .black-diamond-font {
      font-family: "Black Diamond";
      font-size: 35px;
      letter-spacing: 8.3px;

      @media (max-width: 768px) {
        font-size: 55px;
      }

      @media (max-width: 414px) {
        font-size: 43px;
      }
    }
  }

  .detail-text {
    font-family: 'proxima_novamedium';
    font-size: 17px;
    line-height: 1.59;
    letter-spacing: 0.7px;
    color: #231f20;
  }
}

.title-block {
  background: $black;
  font-size: 45px;
  letter-spacing: 20px;
  padding: 15px 0;

  @media (max-width: 992px) {
    font-size: 25px;
    letter-spacing: 10px;
  }
}

.fixed-bottom {
  z-index: 0;
  margin: 0 15px;

  @media (max-width: 768px) {
    font-size: 30px;
  }
}