.signup-component {
  margin: 20px;
  
  .image-div {
    font-size: 30px;
    background-repeat: no-repeat;
    height: 300px;
    background-size: cover;
  }

  .black-diamond-font {
    font-family: "Black Diamond";
    font-size: 35px;
  }
}

.title-block {
  font-size: 2rem;
  display: inline;
}

.fixed-bottom {
  z-index: 0;
}