<!-- Masthead -->
<header class="masthead text-white text-center" track-scroll>
  <div class="overlay"></div>
  <div class="hero-container">
    <div class="row">
      <div class="title-content col-md-8 col-10 m-auto text-center">
        <div class="text-uppercase">We <span class="black-diamond-font">Connect</span></div>
        <div class="text-uppercase">Salons &amp; Stylists</div>
        <div>Hair To Chair keeps talented stylists connected with their clients and professional salons.</div>
      </div>
    </div>
  </div>
</header>

<!--
  <div class="bg-light">
    <div class="find-salons-title-container container">
      <div class="row">
        <div class="col">
          <div class="text-center">FIND YOUR NEXT
            <app-custom-dropdown
            [options]="dropdownOptions"
            label="talent"
            id="_id"
            [selected]="currentOption"
            (onselect)="selectDropdown($event)">
          </app-custom-dropdown>
        </div>
      </div>
    </div>
  </div>
</div>
-->


<div class="empty-dark-section"></div>
<!--
  <div class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="enter-search-here d-flex justify-content-center align-items-center">
            <i class="fa fa-search"></i>
            <input class="form-control bg-light" placeholder="" />
          </div>
        </div>
      </div>
    </div>
  </div>
-->

<div class="thumbnail-section">
  <div class="container">
    <div class="row desktop d-md-flex">
      <!-- [queryParams]="{'talent': talent._id}" == dropdown result -->
      <!--
        <div class="col-md-3 text-center position-relative my-4 mt-md-0" *ngFor="let p of portfolio">
          <a [routerLink]="['/portfolio', p.owner._id]"><img class="img-fluid w-100" [src]="p.image" /></a>
        </div>
      -->
    </div>
    <!--
      <ngx-slick *ngIf="portfolio && portfolio.length" class="carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let p of portfolio">
          <img class="img-fluid w-100" [src]="p.image" />
        </div>
      </ngx-slick>
    -->
  </div>
</div>

<div id="featured-looks" class="featured-look-container container">
  <div class="featured-look-title row">
    <div class="col-8 m-auto text-center text-white title-block">
      <span class="black-diamond-font green">H2C</span> BLOG
    </div>
  </div>
  
  <div class="row">
    <div *ngFor="let post of posts" class="desktop col-md-6 position-relative">
      <app-post [post]="post"></app-post>
    </div>
  </div>
  <ngx-slick *ngIf="posts && posts.length" class="carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let post of posts" class="col-sm-5 position-relative">
      <app-post [post]="post"></app-post>
    </div>    
  </ngx-slick>
  
  <div id="local-talent" class="row mt-5">
    <div class="col-12 m-auto text-center text-white title-block">
      FEATURED <span class="black-diamond-font green">H2C</span> TALENT
    </div>
  </div>
</div>

<div class="thumbnail-section">
  <div class="container">
    <div class="row py-md-4 py-sm-1">
      <div class="col-md-6 mb-4 desktop" *ngFor="let stylist of stylists">
        <div class="row">
          <div class="col-md-5 text-center position-relative">
            <a [routerLink]="['/portfolio', stylist._id]">
              <a [routerLink]="['/portfolio', stylist._id]"><img class="img-fluid w-100" [src]="stylist.image" /></a>
            </a>
          </div>
          <div class="col-md-7 text-white d-flex flex-column">
            <a class="name text-uppercase green font-weight-bold" [routerLink]="['/portfolio', stylist._id]">{{stylist.name}}</a>
            <p *ngIf="stylist.bio" class="bio flex-fill">{{ (stylist.bio.length > 200)? (stylist.bio | slice:0:200) + '...' : (stylist.bio) }}</p>
            <p class="text-uppercase green font-weight-bold">Specializing in:</p>
            <div class="flex-row talents">
              <a [routerLink]="['/portfolio', stylist._id]" [queryParams]="{'talent': talent._id}" class="talent text-uppercase" *ngFor="let talent of stylist.talents">{{talent.talent}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <ngx-slick *ngIf="stylists && stylists.length" class="carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let stylist of stylists">
        <div class="col-md-6 text-white d-flex flex-column">
          <img class="img-fluid" [src]="stylist.image" />
          <p class="name text-uppercase green font-weight-bold">{{stylist.name}}</p>
          <p *ngIf="stylist.bio" class="bio flex-fill">{{ (stylist.bio.length > 150)? (stylist.bio | slice:0:150) + '...' : (stylist.bio) }}</p>
          <p class="text-uppercase green font-weight-bold">Specializing in:</p>
          <div class="flex-row talents">
            <a [routerLink]="['/portfolio', stylist._id]" [queryParams]="{'talent': talent._id}" class="talent text-uppercase" *ngFor="let talent of stylist.talents">{{talent.talent}}</a>
          </div>
        </div>
      </div>
    </ngx-slick>
  </div>
</div>

<div class="container">
  <div class="row my-5 justify-content-md-center">
    <div class="col-md-6 action-card mb-4">
      <!-- [ngStyle]="{'backgroundImage': 'url(' + 'http://via.placeholder.com/500x500' + ')'}" -->
      <a routerLink="/stylist" class="image-content d-flex align-items-center justify-content-center text-white">
        <span class="black-diamond-font mr-4">STYLIST</span> SIGN UP
      </a>
      <div class="detail-content mt-4">
        <p>Woo potential clients with your talent portfolio! Keep them coming back to your chair with scheduling reminders via email, text or H2C chat!</p>
        <p><strong>COMING SOON</strong> - Let your clients know what's going on in your life! Keep clients updated on where you're working next, open appointments, and more!</p>
      </div>
    </div>
    <div class="col-md-6 action-card mb-4">
      <a routerLink="/salon" class="image-content d-flex align-items-center justify-content-center text-white">
        <span class="black-diamond-font mr-4">SALON</span> SIGN UP
      </a>
      <div class="detail-content mt-4">
        <strong>COMING SOON!</strong> - Have empty chairs to fill? Get notified when talent relevant to your salon's needs becomes available. Browse their portfolio. No more empty chairs!
      </div>
    </div>
  </div>
  
  <div id="network" class="row mt-5">
    <div class="col-12 m-auto text-center text-white title-block">
      <span class="black-diamond-font green">H2C</span> NETWORK
    </div>
  </div>
</div>

<div class="thumbnail-section">
  <div class="container">
    <div class="row py-md-4 py-sm-1 text-white desktop">
      <div class="col-3 py-1" *ngFor="let location of locations">
        <a href="/stylists-near-me/{{location.slug}}">{{location.state}}</a>
      </div>
    </div>
    <div class="row carousel">
      <select (change)="selectLocationDD($event.target.value)" class="location_dd">
        <option>Select a State</option>
        <option class="p-1" *ngFor="let location of locations" value="{{location.slug}}">{{location.name}}</option>
      </select>
    </div>
  </div>
</div>