@import '../../../sass/variables';

.desktop-row {
  @media (max-width: 768px) {
    display: none;
  }
}

.carousel {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
  }
}

header {
  &.masthead {
    padding: 8rem;
    background: url('../../../assets/img/header-home.jpg') no-repeat center center;
    background-size: cover;
  }
}
.find-salons-title-container {
  font-size: 40px;
  letter-spacing: 20px;
  padding: 2%;

  @media (max-width: 1200px) {
    letter-spacing: 10px;
  }

  @media (max-width: 992px) {
    font-size: 32px;
    letter-spacing: 5px;
  }

  @media (max-width: 768px) {
    font-size: 27px;
    letter-spacing: 3px;
  }
}

.empty-dark-section {
  height: 36px;
  background: $black;
}

.enter-search-here {
  font-size: 27px;

  input {
    font-size: 27px;
    color: $gray-700;
    letter-spacing: 7px;
    margin-left: 20px;
    padding: 19px 0;
    border: none;

    @media (max-width: 414px) {
      font-size: 17px;
      letter-spacing: 4px;
    }

    &:focus {
      box-shadow: none;
    }  
  }

  i {
    color: $green;
  }
}

.find-salons-main-section {
  background: $black;
  letter-spacing: 5px;
}

.featured-look-container{
  .featured-look-title {
    margin-bottom: 100px;

    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  .title {
    position: absolute;
    font-size: 90px;
    right: 56px;
    top: -66px;

    @media (max-width: 1200px) {
      font-size: 70px;
    }

    @media (max-width: 992px) {
      font-size: 50px;
    }

    @media (max-width: 992px) {
      font-size: 40px;
    }
  }

  .carousel {
    .black-diamond-font {
      position: unset;
    }
  }

  .col-sm-5 {
    margin-bottom: 100px;

    @media screen and (max-width: 768px) {
      margin-bottom: 0;
    }
  }
}

.talent-in-your-area-section {
  background: $black;
  letter-spacing: 5px;

  .title-row {
    color: $white;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 10px;

    @media (max-width: 992px) {
      font-size: 25px;
      letter-spacing: 10px;
    }
  }
}

.signup-component {
  .image-div {
    background: rgba(0, 0, 0, .8);
    text-decoration: none;
    font-size: 30px;
    background-repeat: no-repeat;
    height: 300px;
    background-size: cover;

    @media (max-width: 768px) {
      font-size: 22px;
      letter-spacing: 2px;
    }

    .black-diamond-font {
      font-family: "Black Diamond";
      font-size: 35px;
      letter-spacing: 8.3px;

      @media (max-width: 768px) {
        font-size: 55px;
      }

      @media (max-width: 414px) {
        font-size: 38px;
      }
    }
  }

  .detail-text {
    font-family: 'proxima_novamedium';
    font-size: 17px;
    line-height: 1.59;
    letter-spacing: 0.7px;
    color: #231f20;
  }
}

.title-block {
  background: $black;
  font-size: 45px;
  letter-spacing: 20px;
  padding: 15px 0;

  @media (max-width: 992px) {
    font-size: 25px;
    letter-spacing: 10px;
  }
}

.fixed-bottom {
  z-index: 0;
  margin: 0 15px;

  @media (max-width: 768px) {
    font-size: 30px;
  }
}