<div class="nav py-4">
  <div class="container">
    <div class="row align-items-center d-flex">
      <div class="col-3"><img class="nav-logo" src="assets/img/logo.png"></div>
      <div class="col-9 text-right d-flex justify-content-end">
        <span class="nav-link">Home</span>
        <span class="nav-link">Contact</span>
        <span class="nav-link button">Login</span>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron bg-variation">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6">
        <div class="jumbo-card">
          <h1 class="title mb-4">You create beautiful hairstyles.<br /><span class="highlight">Let us do the
              rest.</span></h1>
          <p class="subtitle">Hair To Chair is an effortless way for independent stylists to take their business online.
          </p>
          <div class="list-item">
            <span class="list-item-number">1</span>
            <div>Build your website using Hair To Chair (no tech expertise needed) and book new clients faster</div>
          </div>

          <div class="list-item">
            <span class="list-item-number">2</span>
            <div>Keep track of clients’ past hairstyles</div>
          </div>

          <div class="list-item">
            <span class="list-item-number">3</span>
            <div>Reduce no-shows using our automated reminders</div>
          </div>

          <button class="button-v3">TRY IT NOW</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="header">Grow your client base without getting overwhelmed</div>
    </div>
  </div>
  <div class="row home-section">
    <div class="col-md-6 col-12">
      <div class="black-diamond-font number">01</div>
      <div class="subtitle">Grow your online presence</div>
      <p class="copy">You don’t need to be a tech wiz to build a beautiful, customized website. Showcase your portfolio
        & talents and connect to new clients.</p>
    </div>

    <div class="col-md-6 col-12">
      <img src="assets/img/home_01.png" />
    </div>
  </div>

  <div class="row home-section">
    <div class="col-md-6 col-12">
      <img src="assets/img/home_02.png" />
    </div>
    <div class="col-md-6 col-12">
      <div class="black-diamond-font number">02</div>
      <div class="subtitle">Manage client notes and relationships</div>
      <p class="copy">Upload photos of your work to your private portfolio so you can keep track of and reference past
        hairstyles.</p>
    </div>
  </div>

  <div class="row home-section">
    <div class="col-md-6 col-12">
      <div class="black-diamond-font number">03</div>
      <div class="subtitle">Book clients and reduce no-shows</div>
      <p class="copy">Save time and reduce back and forth with clients by using your Hair To Chair website to book
        sessions. Use our automated reminders to reduce no-shows.</p>
    </div>

    <div class="col-md-6 col-12">
      <img src="assets/img/home_03.png" />
    </div>
  </div>
</div>

<div class="container-fluid container-blog">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="subtitle">Our Blog</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-6 d-flex" *ngFor="let post of posts">
        <div class="blog-item d-flex">
          <div class="blog-image"><img [src]="post.feature_image" /></div>
          <div class="blog-title">{{post.title}}</div>
          <p class="blog-excerpt">{{post.excerpt}}</p>
          <div class="read-more"><a [routerLink]="['/blog/post/' + post.slug]">Read More</a></div>
        </div>
      </div>
    </div>
  </div>
</div>