<div class="client-component content">
  <div class="container">
    <div class="header-row row">
      <div class="col-md-6">
        <div class="black-diamond-font">YOUR CLIENTS</div>
      </div>
      <div class="col-md-6">
        <div class="subtitle">This is your directory of clients. You can view last schedule dates and send them text/email messages.</div>    
      </div>
    </div>
  </div>
  <div class="green-divider"></div>
  <div class="container">
    <div class="clients-row row">
      <div class="col-md-3 col-sm-12 my-2">
        <div class="client client-add-new" (click)="showAddClientModal(addModal)">
          <span class="">+</span>
          <div class="">Add New Client</div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 my-2 " *ngFor="let client of clients, let i = index">
        <div class="client m-auto" [ngStyle]="client.portfolio[0] && {'background-image': 'url(' + client.portfolio[0].image + ')'} || {}" (click)="showDetail(client._id)">
          <div class="client-name">{{ client.name }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #addModal let-c="close" let-d="dismiss">
  <form novalidate [formGroup]="clientForm" (ngSubmit)="addClient()">
    <div class="add-client-modal-component text-uppercase">
      <div class="black-diamond-font">Add New Client</div>
      <div class="green-divider"></div>
      <div class="main-content">
        <div class="form-group">
          <label>Name</label>
          <input type="text" formControlName="clientName" class="form-control">
        </div>
        
        <div>
          <div class="pull-right">
            <button type="button" class="common-gw-button" (click)="c('Close click')">Cancel</button>
            <button type="submit" [disabled]="!clientForm.valid" class="common-gw-button">Add Client</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>