<div class="content">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Clients</h1>
                <p>
                    This will be your directory of clients. Here you can view last schedule date and send them
                    text/email messages (plan permitting),
                </p>
            </div>
        </div>
        <div class="row clients">
            <div class="col-md-3 col-sm-12 my-2">
                <div class="client client-add-new m-auto" (click)="showAddClientModal(addModal)">
                    <span class="align-middle">+</span>
                    <div class="client-name">Add New Client</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 my-2 " *ngFor="let client of clients, let i = index">
                <div class="client m-auto" (click)="showDetail(client._id)">
                    <div class="client-name">{{client.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #addModal let-c="close" let-d="dismiss">
    <form novalidate [formGroup]="clientForm" (ngSubmit)="addClient()" class="m-2">
        <div class="modal-header">
            <h4 class="modal-title">Add New Client</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Name</label>
                <input type="text" formControlName="clientName" class="form-control">
            </div>
        </div>
        
        <div class="m-2">
            <div class="pull-right">
                <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cancel</button>
                <button [disabled]="!clientForm.valid" class="btn btn-outline-primary">Add Client</button>
            </div>
        </div>
    </form>
</ng-template>