@import '../../../../sass/variables';

.client-component {
  padding-top: 100px;

  .header-row {
    .black-diamond-font {
      font-size: 52px;
      letter-spacing: 0.8px;
    }

    .subtitle {
      font-family: "proxima_novalight", Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.6px;
      color: $gray-900;
    }
  }

  .clients-row {
    text-transform: uppercase;

    .client {
      height: 255px;
      width: 100%;
      border: 2px solid $gray-300;
      border-radius: 3px;
      background-size: cover;
      position: relative;
      cursor: pointer;
      background-position: center;
  
      .client-name {
        font-family: "proxima_novalight", Arial, sans-serif;
        position: absolute;
        bottom: 0;
        background: rgba(255, 255, 255, .6);
        width: 100%;
        left: 0;
        text-align: center;
        font-size: 15px;
        letter-spacing: 3.9px;
        padding: 12px;
      }
    }
  
    .client-add-new {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 58px;
      color: $white;
      background: $green;
      text-align: center;

      div {
        font-size: 16px;
      }
    }
  }
}


.add-client-modal-component {
  padding: 50px 0;

  .black-diamond-font {
    font-size: 45px;
    padding: 0 70px;
    margin-bottom: -15px;

    @media (max-width: 414px) {
      padding: 0 30px;
    }
  }

  .main-content {
    font-family: 'proxima_novalight';
    font-size: 11px;
    letter-spacing: 2.5px;
    color: $black;
    padding: 0 70px;

    @media (max-width: 414px) {
      padding: 0 30px;
    }

    .form-group {
      input {
        &.form-control {
          max-height: 30px;
          border: 1px solid $green;
        }
      }
    }

    .common-gw-button {
      width: 140px;
      letter-spacing: 3px;
    }
  }
}