<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form novalidate [formGroup]="passwordForm" (ngSubmit)="setPassword()">
                    <h1>Reset Password</h1>
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" formControlName="password_new" class="form-control">
                        <div *ngIf="password_new.invalid && (password_new.dirty || password_new.touched)" class="alert alert-danger">
                            <span *ngIf="password_new.errors.minlength">
                                Please enter at least 8 characters
                            </span>
                            <span *ngIf="password_new.errors.required">
                                Password is required
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm New Password</label>
                        <input type="password" formControlName="password_confirm" class="form-control">
                        <div *ngIf="password_confirm.invalid && (password_confirm.dirty || password_confirm.touched)" class="alert alert-danger">
                            <span *ngIf="password_confirm.errors.minlength">
                                Please enter at least 8 characters
                            </span>
                            <span *ngIf="password_confirm.errors.required">
                                Password is required
                            </span>
                        </div>
                    </div>
                    <div *ngIf="!passwordForm.valid && passwordForm.errors" class="alert alert-danger">
                        <span *ngIf="!passwordForm.errors.password_confirm.match">
                            Passwords must match
                        </span>
                    </div>
                    <button [disabled]="!passwordForm.valid" class="btn btn-primary">Update Password</button>
                    <div>{{message}}</div>
                    <a routerLink="stylist/profile" *ngIf="success">View Profile</a>
                </form>
            </div>
        </div>
    </div>
</div>