<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form novalidate [formGroup]="passwordForm" (ngSubmit)="setPassword()">
          <h1>Reset Password</h1>
          <div class="form-group">
            <label>New Password</label>
            <input type="password" formControlName="passwordNew" class="form-control">
            <div *ngIf="passwordNew.invalid && (passwordNew.dirty || passwordNew.touched)" class="alert alert-danger">
              <span *ngIf="passwordNew.errors.minlength">
                Please enter at least 8 characters
              </span>
              <span *ngIf="passwordNew.errors.required">
                Password is required
              </span>
            </div>
          </div>
          <div class="form-group">
            <label>Confirm New Password</label>
            <input type="password" formControlName="passwordConfirm" class="form-control">
            <div *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)" class="alert alert-danger">
              <span *ngIf="passwordConfirm.errors.minlength">
                Please enter at least 8 characters
              </span>
              <span *ngIf="passwordConfirm.errors.required">
                Password is required
              </span>
            </div>
          </div>
          <div *ngIf="!passwordForm.valid && !passwordConfirm.invalid && !passwordNew.invalid" class="alert alert-danger">
            <span *ngIf="!passwordForm.errors.passwordConfirm.match">
              Passwords must match
            </span>
          </div>
          <button [disabled]="!passwordForm.valid" class="btn btn-primary">Update Password</button>
          <div>{{ message }}</div>
          <a routerLink="/stylist/profile" *ngIf="success">View Profile</a>
        </form>
      </div>
    </div>
  </div>
</div>