@import '../../../../sass/variables';

.circle {
  background: $green;
  padding: 20px;
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 50px;
  text-align: center;
  margin: 25px auto;
  font-weight: bold;
  font-size: 30px;
}
.profile-component {
  padding: 100px;

  @media (max-width: 992px) {
    padding: 50px 15px 15px;
  }

  .container {

    .location {
      text-transform: uppercase;
    }
    
    .profile-title {
      font-size: 78px;
      letter-spacing: 3px;

      @media (max-width: 992px) {
        font-size: 52px;
      }
    }
    
    .profile-row {
      padding: 50px 30px;
      background: $green;

      @media (max-width: 992px) {
        padding: 30px 15px;
      }

      .photo-column {
        img {
          width: 100%;
          margin-bottom: 1rem;
        }
      }

      .form-group {
        label {
          font-family: "proxima_novalight", Arial, sans-serif;
          font-size: 18px;
          letter-spacing: 3.6px;

          @media (max-width: 992px) {
            font-size: 12px;
          }
        }

        input {
          font-family: "proxima_novalight", Arial, sans-serif;
          font-size: 25px;
          letter-spacing: 5.1px;
          color: $black;

          @media (max-width: 992px) {
            font-size: 17px;
          }
        }
      }

      .bio-content {
        textarea {
          height: 160px;
        }
      }

      button {
        background: $gray-900;
      }
    }
  }
}