<div class="profile-component content">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="profile-title black-diamond-font">PROFILE</div>
      </div>
    </div>
    <div class="profile-row row">
      <div class="photo-column col-md-6 text-center">
        <img *ngIf="user.image" [src]="user.image" />
        <app-cloudinary-uploader
        [folderName]="'profile'"
        [buttonName]="'UPLOAD PHOTO'"
        (completeItem)="profileImageUploadCompleted($event)">
      </app-cloudinary-uploader>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>YOUR NAME</label>
        <input [(ngModel)]="user.name" class="form-control" type="text" />
      </div>
      
      <div class="form-group">
        <label>EMAIL ADDRESS</label>
        <input [(ngModel)]="user.email" class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label>ZIP</label>
        <input [(ngModel)]="user.zip" class="form-control" type="text" />
      </div>
      
      <div class="bio-content form-group">
        <label>BIO</label>
        <textarea [(ngModel)]="user.bio" class="form-control"></textarea>
      </div>
      
      <div class="form-group">
        <label>YOUR TALENTS</label>
        Talent not found? <a (click)="modal(addTalent)">Add your own</a>!
        <app-talent-tags-input [talents]="talents"></app-talent-tags-input>
      </div>
      
      <button type="button" (click)="uploadAndUpdate()" class="btn btn-primary pull-right">UPDATE PROFILE</button>
      {{ status }}
    </div>
  </div>
</div>
</div>

<ng-template #addTalent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Add Talent</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="email">Talent</label>
        <input type="text" class="form-control" id="talent">
      </div>
    </div>
    
    <div class="m-2">    
      <div class="pull-right">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cancel</button>
        <button type="button" class="btn btn-outline-primary">Add Talent</button>
      </div>
    </div>
  </ng-template>