<div class="profile-component content">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="profile-title black-diamond-font">PROFILE</div>
      </div>
    </div>
    <div class="profile-row row">
      <div class="photo-column col-md-6 text-center">
        <img *ngIf="user.image" [src]="user.image" />
        <app-cloudinary-uploader
        [folderName]="'profile'"
        [buttonName]="'UPLOAD PHOTO'"
        (completeItem)="profileImageUploadCompleted($event)">
      </app-cloudinary-uploader>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>YOUR NAME</label>
        <input [(ngModel)]="user.name" class="form-control" type="text" />
      </div>
      
      <div class="form-group">
        <label>EMAIL ADDRESS</label>
        <input [(ngModel)]="user.email" class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label>ZIP</label>
        <input [(ngModel)]="user.zip" class="form-control" type="text" />
      </div>
      
      <div class="bio-content form-group">
        <label>BIO</label>
        <textarea [(ngModel)]="user.bio" class="form-control"></textarea>
      </div>
      
      <div class="form-group">
        <label>YOUR TALENTS</label>
        Talent not found? <a (click)="modal(addModal)">Add your own</a>!
        <app-talent-tags-input [talents]="talents"></app-talent-tags-input>
      </div>
      
      <button type="button" (click)="uploadAndUpdate()" class="btn btn-primary pull-right">UPDATE PROFILE</button>
      {{ status }}
    </div>
  </div>
</div>
</div>

<ng-template #addModal let-c="close" let-d="dismiss">
  <form novalidate [formGroup]="talentForm" (ngSubmit)="addTalent()">
    <div class="add-modal-component text-uppercase">
      <div class="black-diamond-font">Add New Talent</div>
      <div class="green-divider"></div>
      <div class="main-content">
        <div class="form-group">
          <label>Talent</label>
          <input type="text" formControlName="talent" class="form-control">
        </div>
        
        <div>
          <div class="pull-right">
            <button type="button" class="common-gw-button" (click)="c('Close click')">Cancel</button>
            <button type="submit" [disabled]="!talentForm.valid" class="common-gw-button">Add Talent</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>