<div class="container">
  <div class="row">
    <div class="col-12 p-4 mb-4 text-center add-new" (click)="add()">
      Add New Service
    </div>
  </div>
  <div class="row message-row my-4" [ngClass]="{'active': showMessage}">
    <div class="col-12">{{message}}</div>
  </div>
  <div class="services row pb-4 mb-4" *ngFor="let service of services, let i = index">
    <div class="service-name col-md-3 col-12">
      <label>Service Name</label>
      <input type="text" class="input" [(ngModel)]="service.name">
    </div>
    <div class="service-desc col-md-4 col-12">
      <label>Description</label>
      <input type="text" class="input" [(ngModel)]="service.description">
    </div>
    <div class="service-price col-md-2 col-6">
      <label>Price</label>
      <input type="number" class="input" [(ngModel)]="service.price">
    </div>
    <div class="service-time col-md-2 col-6">
      <label>Time</label>
      <select class="input" [(ngModel)]="service.time">
        <option value="1">30 mins</option>
        <option value="2">1 hour</option>
        <option value="3">1 hour 30 mins</option>
        <option value="4">2 hours</option>
        <option value="5">2 hours 30 mins</option>
        <option value="6">3 hours</option>
      </select>
    </div>
    <div class="col-1 justify-content-center pt-4 align-items-center d-flex">
      <i class="fa fa-icon fa-save fa-lg mr-2" (click)="save(service, i)"></i>
      <i class="fa fa-icon fa-trash fa-lg" *ngIf="service._id" (click)="delete(service)"></i>
    </div>
  </div>
</div>