.services {
  border-bottom: 1px solid #1fb2b9;
}

.message-row {
  transition: opacity 1s;
  text-transform: uppercase;
  font-family: 'spartan-semibold';
  text-align: center;
  color: #1fb2b9;
  opacity: 0;

  &.active {
    opacity: 1;
  }
}

.fa-icon {
  font-size: 30px;
  color: #1fb2b9;
  margin: 0 20px;
  cursor: pointer;
}

.fa-trash {
  color: #FF0000;
}