.title {
  font-size: 38px;
  line-height: 46px;

  .highlight {
    margin: 20px 0 0 0;
  }

  @media all and (max-width: 768px) {
    font-size: 24px;
    line-height: 25px;
    padding: 0px 58px 0 0;

    .highlight {
      margin: 10px 0 0 0;
      display: block;
    }
  }
}

.subtitle-home {
  font-size: 18px;
  line-height: 36px;
  color: #454545;

  @media all and (max-width: 768px) {
    margin: 0 0 20px 0;
  }
}

.list-item {
  font-size: 14px;
  line-height: 28px;
  display: flex;
  margin: 0 0 1rem 0;

  @media all and (max-width: 768px) {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 10px 0;
  }

  div {
    flex-basis: 0;
    flex-grow: 1;
  }
}

.list-item-number {
  background: rgba(90, 183, 187, 0.17);
  width: 28px;
  height: 28px;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(90, 183, 187);
  margin: 0 10px 0 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  flex-basis: auto;
}
