<div class="stylist-services justify-content-md-center py-4 row">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div>
            <h3>Add New Service</h3>
          </div>
        </div>
        <div class="row">
          <div class="py-2 col-12 col-md-6">
            <input type="text" class="form-control" placeholder="Service Name" />
          </div>
          <div class="py-2 col-12 col-md-6">
            <input type="text" class="form-control" placeholder="Price" />
          </div>
        </div>
        <div class="row">
          <div class="col-12 py-2">
            <textarea placeholder="Service Description" class="form-control"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-right">
            <button class="common-gw-button">Add New Service</button>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="row">
          <div>
            <h3>Existing Services</h3>
          </div>
        </div>
        <div class="row">
          <div class="header col-5 col-md-6">Service</div>
          <div class="header col-5 col-md-2">Price</div>
          <div class="header col-2 col-md-2"></div>
        </div>
        <div class="row py-1" *ngFor="let service of services">
          <div class="col-5 col-md-6">{{ service.name }}</div>
          <div class="col-5 col-md-2">{{ service.price }}</div>
          <div class="col-2 col-md-2">
            <i class="px-1 fa fa-pencil"></i><i class="px-1 fa fa-trash"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>