@import '../../../../sass/variables';

nav {
  background-color: black;
  transition: all ease .2s;
  
  .container {
    max-width: 100%;
    padding-top: 0;
    
    
    .nav-link {
      font-size: 15px;
      border-bottom: 1px solid;
      margin: 0 2px;
    }
    
    .navbar-brand {
      img {
        max-height: 50px;
        
        @media (max-width: 768px) {
          max-height: 50px;
        }
      }
    }
    
    .navbar-toggler {
      background: white;
    }
    
    ul.navbar-nav {
      font-family: "proxima_novalight", Arial, sans-serif;
      font-size: 15px;
      font-weight: 300;
      letter-spacing: 4.5px;
      
      .nav-item {
        @media (max-width: 991px) {
          width: 100%;
          margin: 1% 0;

          a {
            padding: 2%;
          }
        }

        @media (max-width: 768px) {
          margin: 2% 0;

          a {
            padding: 4%;
          }
        }

        a {
          cursor: pointer;
          color: $white;
          
          &:hover {
            color: $green;
          }
        }

        &.nav-login {
          a {
            &:hover {
              color: $green;
              background: $white;
            }
            background: $green;
            border: 0px;
          }
        }
      }
    }  
  }
}

.login-modal-component {
  padding: 50px 0;

  .black-diamond-font {
    font-size: 45px;
    padding: 0 70px;
    margin-bottom: -15px;

    @media (max-width: 414px) {
      padding: 0 30px;
    }
  }

  .main-content {
    font-family: 'proxima_novalight';
    font-size: 11px;
    letter-spacing: 2.5px;
    color: $black;
    padding: 0 70px;

    @media (max-width: 414px) {
      padding: 0 30px;
    }

    .form-group {
      input {
        &.form-control {
          max-height: 30px;
          border: 1px solid $green;
        }
      }
    }

    .forgot-password-row {
      margin: 30px 0;

      a {
        cursor: pointer;
      }  
    }
  }
}