
<nav class="fixed-top navbar navbar-expand-lg navbar-light">
  <div class="container align-items-end">
    <a class="navbar-brand text-white" routerLink="">
      <img src="assets/img/logo.png" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul *ngIf="!isLoggedIn()" class="navbar-nav ml-auto align-items-center text-uppercase">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/signup">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" (click)="modal(login)">Login</a>
        </li>
      </ul>
      
      <ul *ngIf="isLoggedIn()" class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/stylist/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="stylist/clients">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="stylist/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ng-template #login let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Login</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      {{ message }}
    </div>
    
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" [(ngModel)]="model.email" class="form-control" id="name">
    </div>
    
    <div class="form-group" *ngIf="!forgotPassword">
      <label for="password">Password</label>
      <input type="password" [(ngModel)]="model.password" class="form-control" id="password">
    </div>
  </div>
  
  <div class="m-2" *ngIf="forgotPassword">      
    <div class="pull-right">
      <button type="button" class="btn btn-outline-dark" (click)="forgotPassword = false">Cancel</button>
      <button type="button" class="btn btn-outline-primary" (click)="doResetPassword()">Reset Password</button>
    </div>
  </div>
  
  <div class="m-2" *ngIf="!forgotPassword">
    <div class="pull-left">
      <button type="button" class="btn btn-outline-dark"  (click)="forgotPassword = true">Forgot Password?</button>  
    </div>
    
    <div class="pull-right">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cancel</button>
      <button type="button" class="btn btn-outline-primary" (click)="doLogin()">Login</button>
    </div>
  </div>
</ng-template>