nav {
  background-color: black;
  height: 240px;
  padding: 100px 30px 25px 30px;

  .container {
    max-width: 100%;
  }

  .navbar-toggler {
    background: white;
  }
  
  .navbar-brand {
    img {
      max-height: 110px;
    }
  }

  .nav-link {
    font-size: 25px;
  }

  .nav-item-signup {
    background: #007bff;
    width: 100%;
    text-align: center;
    
    a {
      color: white;
    }
  }
  
  li {
    a {
      cursor: pointer;
    }
  }
}