@import '../../../../sass/variables';

.stylist-home {
  margin: 100px auto 0;
  min-height: 500px;

  .feature {
    background: $green;
    border-radius: 20px;
    height: 250px;
    cursor: pointer;
  }
}