<div class="container">
  <div class="row mb-4">
    <div class="col-12">
      <h4>SHARE YOUR H2C SITE</h4>
    </div>
    <div class="col-6 col-md-3 my-4 my-md-0 align-items-center justify-content-center d-flex"><a target="_blank"
        href="{{'https://www.facebook.com/sharer/sharer.php?u=https://' + user.url + '.hairtochair.com'}}"><i
          class="fa fa-2x fa-facebook"></i></a></div>
    <div class="col-6 col-md-3 align-items-center justify-content-center d-flex"><a target="_blank"
        href="{{'https://twitter.com/intent/tweet?text=Check out my Hair to Chair site!&url=https://' + user.url + '.hairtochair.com'}}"><i
          class="fa fa-2x fa-twitter"></i></a></div>
    <div class="col-md-6 col-12">
      <div class="row">
        <div class="col-6 pe-0">
          <div class="share-url align-items-center p-4">{{user.url}}.hairtochair.com</div>
        </div>
        <div class="col-6 ps-0 d-flex">
          <button class="button-v3" (click)="copyLink()">Copy Link</button>
        </div>
        <div class="col-12 py-2 d-flex align-items-center justify-content-center">
          <div *ngIf="linkCopied">Link copied to clipboard!</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">
      <h4>UPCOMING BOOKINGS</h4>
    </div>
    <div class="col-4">
      <button class="button-v3" [daysInWeek]="daysInWeek" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
        Previous
      </button>
    </div>
    <div class="col-4">
      <button class="transparent button-v3" mwlCalendarToday [(viewDate)]="viewDate">
        Today
      </button>
    </div>
    <div class="col-4">
      <button class="button-v3" [daysInWeek]="daysInWeek" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
        Next
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mwl-calendar-week-view [dayStartHour]="8" [dayEndHour]="22" [events]="events" [refresh]="refresh"
        [viewDate]="viewDate" [daysInWeek]="daysInWeek">
      </mwl-calendar-week-view>
    </div>
  </div>
</div>