<div class="stylist-home justify-content-md-center py-4 row">
  <div class="container">
    <div class="row justify-content-center d-flex p-2 mb-4">
      <div class="col-9">
        <div class="row">
          <div class="col-3"><button class="common-gw-button" (click)="prevScheduleDay()">Previous Day</button></div>
          <div class="col-6">
            <div class="text-center text-bold text-uppercase">Appointments for {{ scheduleDay | date: 'EE LLL dd' }}
            </div>
          </div>
          <div class="col-3 text-right"><button class="common-gw-button" (click)="nextScheduleDay()">Next Day</button>
          </div>
        </div>
      </div>
      <div class="col-12  text-center" *ngIf="!schedule.length">
        <h3>You have no bookings</h3>
      </div>
      <div class="col-3 schedule m-2 p-2" [ngClass]="{ pending: !event.approved }"
        *ngFor="let event of schedule; let index = index">
        <strong>Service:</strong> {{ event.description }}<br />
        <strong>Time:</strong> {{ event.startDateTime | date: 'hh:mm' }} -
        {{ event.endDateTime | date: 'hh:mm' }}<br />
        <strong>Client:</strong>{{ event.name }}, {{ event.phone }}<br />
        <strong>Status: </strong>{{ event.approved ? 'Approved' : 'Pending' }}
        <button (click)="confirm(event, index, true)" *ngIf="!event.approved" class="common-gw-button">Confirm
          Booking</button>
        <button (click)="confirm(event, index, false)" *ngIf="event.approved" class="common-gw-button">Cancel
          Booking</button>
      </div>
    </div>
  </div>
</div>