<div class="landing-container pb-4">
  <div class="jumbotron">
    <div class="bg bg-variation"></div>
    <div class="my-4 p-4 text-white jumbo-content">
      <div class="jumbo-content-title">
        <img class="landing-image" src="assets/img/logo.png" />
        <h1>The Tools You Need To Build Your Clientele FAST</h1>
      </div>
      <div class="jumbo-content-bg"></div>
    </div>
  </div>

  <div class="container text-onboarding text-white">
    <div class="row justify-content-center mb-4 d-flex">
      <div class="col-lg-8 col-6">
        <h3>Access to Millions of Views</h3>
        After signing up, you tell us what your specialities are and we make sure
        interested, local clients find you!
      </div>

      <div class="col-lg-4 col-6">
        <img class="image-full feature" src="assets/img/home-feature-portfolio.jpg" />
      </div>
    </div>


    <div class="row mb-4">
      <div class="col-lg-8 col-6">
        <h3>Gauge Client Trends & Interests</h3>
        Keeping up with the latest trends takes a lot of time. We compile the latest 
      </div>

      <div class="col-lg-4 col-6 d-flex flex-column trend-report p-2">
        <div class="row">
          <div class="col-12"><strong>Trend Report for February 2020</strong></div>
        </div>
        <div class="row">
          <div class="col-8 trend-title">Perms</div>
          <div class="col-4 trend-value"><i class="fa fa-icon fa-thumbs-up" style="color: green"></i> 94/100</div>
        </div>
        <div class="row">
          <div class="col-8 trend-title">Braids</div>
          <div class="col-4"><i class="fa fa-icon fa-exclamation-circle" style="color: yellow"></i>  65/100</div>
        </div>
        <div class="row">
          <div class="col-8 trend-title">Balayage</div>
          <div class="col-4"><i class="fa fa-icon fa-exclamation-triangle" style="color: red"></i> 35/100</div>
        </div>
        <div class="row">
          <div class="col-8 trend-title">Perms</div>
          <div class="col-4 trend-value"><i class="fa fa-icon fa-thumbs-up" style="color: green"></i> 94/100</div>
        </div>
        <div class="row">
          <div class="col-8 trend-title">Braids</div>
          <div class="col-4"><i class="fa fa-icon fa-exclamation-circle" style="color: yellow"></i>  65/100</div>
        </div>
        <div class="row">
          <div class="col-8 trend-title">Balayage</div>
          <div class="col-4"><i class="fa fa-icon fa-exclamation-triangle" style="color: red"></i> 35/100</div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mb-4 d-flex">
      <div class="col-lg-8 col-6">
        <h3>Instant Stylist Website</h3>
        <p>Enter a few details about where you typically do business and your talents and immediately get a
          shareable, search engine optimized web site.</p>
      </div>

      <div class="col-lg-4 col-6">
        <div><i class="fa fa-icon fa-exclamation-triangle"></i></div>
        <div><i class="fa fa-icon fa-exclamation-circle"></i></div>
        <div><i class="fa fa-icon fa-thumbs-o-up"></i></div>
      </div>
    </div>

    <div class="row">
      <div class="text-center col-11 col-lg-5">
        <span class="bold">$4.99</span> / mo
        <div class="small">30 day free trial, no credit card required</div>
        <button routerLink="/landing" class="my-4 bold h2c-button">Start My Free Hair to Chair Trial</button>
      </div>
    </div>
  </div>
</div>