.bg-onboarding {
  background-image: url('/assets/img/bg-onboarding.webp');
}

.text-onboarding {
  font-size: 22px;
  line-height: 1.5;
}

.h2c-button {
  border: 0;
  background: #9ed5be;
  padding: 4%;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

li {
  margin: 2% 0;
  font-size: 20px;
}
