<div class="bg-container">
  <div class="bg bg-onboarding"></div>
</div>

<div class="container text-onboarding text-white">
  <div class="row">
    <div class="col-12 text-center pt-4">
      <h1 class="color-green content-title black-diamond-font">Welcome</h1>
    </div>
    <div class="col-12 col-md-8 offset-md-2 my-2">
      <p class="text-center">Hair to Chair is an all-in-one tool for independant hairstylists to
        take their business from paper to online.</p>
    </div>
    <div class="col-12 col-md-8 offset-md-2 mt-2">
      <h4 class="text-center">Why Hair to Chair?</h4>

      <div class="row mb-4">
        <div class="col-12 col-md-8 offset-md-2">
          <ul class="color-grey">
            <li>One-click website to grow your online presence &mdash; no expertise required</li>
            <li>Maintain client notes and relationships</li>
            <li>Online client booking & scheduling</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="text-center col-12 col-md-10 offset-md-1">
          <span class="bold">$4.99</span> / mo
          <div class="small">30 day free trial, no credit card required</div>
          <button routerLink="/landing/steps" class="my-4 bold h2c-button">Start My Free Hair to Chair Trial</button>
        </div>
      </div>
    </div>
  </div>
</div>