<ng-container *ngIf="post">
  <app-nav></app-nav>

  <div class="container" *ngIf="post">
    <div class="row">
      <div class="col-12 col-md-8 m-md-auto p-md-0">
        <h1 class="post-title">{{post.title}}</h1>
      </div>
    </div>

    <div class="row mb-4 p-md-0">
      <div class="col-12 col-md-8 m-md-auto">
        <div class="row d-flex align-items-center">
          <div class="col-md-6 col-12">
            <div class="d-flex align-items-center post-date"><i
                class="fa fa-icon fa-clock-o pr-2"></i>{{post.published_at | date}}</div>
          </div>
          <div class="col-md-6 col-12 text-right">
            <div class="tag-container">
              <span *ngFor="let tag of post.tags" class="blog-tag p-2"><a
                  [routerLink]="['/blog/tag/' + tag.slug]">{{tag.name}}</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <img class="image-full" [src]="post?.feature_image" />
      </div>
    </div>

    <div class="row p-4 post-content">
      <div class="col-md-8 col-12 m-auto p-md-0">
        <div [innerHtml]="post.html"></div>
      </div>
    </div>
  </div>

  <app-try-now></app-try-now>

  <div class="container-fluid container-blog">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="text-white">Related Posts</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 d-flex" *ngFor="let post of relatedPosts">
          <app-blog-post [post]="post"></app-blog-post>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <button class="button-v3" routerLink="/blog">View All Hairstylist Tips and Client Management Updates</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<app-footer></app-footer>