.post-header {
  position: relative;
  padding-top: 75px;
  padding-bottom: 150px;

  .bg-variation {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
  }

  .post-title {
    background: white;
    font-size: 50px;
  }
}

.blog-tag-title {
  font-weight: 600;
  font-size: 14px;

  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.blog-tag {
  background: #599295;
  text-transform: uppercase;
  padding: 10px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.05em;

  a {
    color: white;
  }
}

.post-content {
  margin: 0 20px;
}

.container-try-now {
  .bg-try-now {
    background-image: url("https://res.cloudinary.com/drcvakvh3/image/upload/v1584586486/assets/footer-home.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
  }

  .try-now {
    border-radius: 10px;
    background-color: #000000;
    font-weight: 600;
    font-size: 32px;
    line-height: 46px;
    position: relative;

    .try-now-small {
      font-size: 12px;
      line-height: 22px;
    }
  }
}

.container-blog {
  background: #599295;
  padding: 75px 0;
  margin: 75px 0 0 0;
  color: white;
}

.blog-item {
  color: black;
  background: #ffffff;
  box-shadow: 30px 40px 50px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 20px;
  margin: 40px 0;
  width: 100%;
  flex-direction: column;

  .blog-date {
    font-size: 14px;
    color: #599295;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .blog-tag-title {
    font-weight: 600;
    font-size: 14px;

    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .blog-tag {
    background: #599295;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.05em;

    a {
      color: white;
    }
  }

  .blog-image {
    text-align: center;
    margin: 0 0 20px 0;

    img {
      max-height: 180px;
      max-width: 100%;
    }
  }

  .blog-title {
    font-size: 18px;
    line-height: 22px;
  }

  .blog-excerpt {
    line-height: 20px;
    font-size: 16px;
  }

  .read-more {
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
    display: flex;
  }
}

.post-content {
  p {
    font-size: 18px;
    line-height: 32px;
  }
}
