@import '../../../../sass/_mixins';
@import '../../../../sass/_variables';

.note-image {
  max-width: 200px;
  padding: 2%;
}

.text-container {
  border-left: 3px solid $green;
  
  .top-info {
    font-family: "spartan-bold", Arial, sans-serif;
    
    .public-badge {
      font-size: 30px;
      letter-spacing: 9px;
      background: $green;
    }
    
    .date-badge {
      font-size: 22px;
      letter-spacing: 0.9px;
      color: $green;
    }
    
    &.private {
      color: $red;
      
      .public-badge {
        background: $black;
        color: $white;
      }
      
      .date-badge {
        color: $black;
      }
    }
  }
  
  .note-content {
    font-family: "spartan", Arial, sans-serif;
    font-size: 17px;
    line-height: 2.06;
    letter-spacing: 0.7px;
    color: #231f20;
  }
}