<div class="blog-item">
  <div class="blog-image"><a [routerLink]="['/blog/' + post.slug]"><img [lazyLoad]="post.feature_image" /></a></div>
  <p class="blog-date"><i class="fas fa-lg fa-icon fa-clock me-2"></i>{{post.published_at | date}}</p>
  <div class="blog-title"><a [routerLink]="['/blog/' + post.slug]">{{post.title}}</a></div>
  <p class="blog-excerpt">{{post.excerpt}}</p>
  <div class="blog-bottom">
    <div class="tag-container">
      <span *ngFor="let tag of post.tags" class="p-2 blog-tag">
        <a [routerLink]="['/blog/tag/' + tag.slug]">{{tag.name}}</a>
      </span>
    </div>
    <a class="blog-read-more" [routerLink]="['/blog/' + post.slug]">READ MORE</a>
  </div>
</div>