<div class="blog-item">
  <div class="blog-image"><a [routerLink]="['/blog/' + post.slug]"><img [src]="post.feature_image" /></a></div>
  <div class="blog-title"><a [routerLink]="['/blog/' + post.slug]">{{post.title}}</a></div>
  <p class="blog-date">{{post.published_at | date}}</p>
  <p class="blog-excerpt">{{post.excerpt}}</p>
  <p class="blog-tag-title">TAGS:</p>
  <div>
    <span *ngFor="let tag of post.tags" class="blog-tag">
      <a [routerLink]="['/blog/tag/' + tag.slug]">{{tag.name}}</a>
    </span>
  </div>
</div>