.highlight {
  background: yellow;
}

.bg-variation {
  background-image: url("https://res.cloudinary.com/drcvakvh3/image/upload/v1537535195/assets/header-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  background-color: #333333;
}
