<app-nav></app-nav>
<div class="container post-header" *ngIf="posts">
  <div class="row blog-top">
    <div class="row">
      <div class="col-md-6 col-12">
        <h1>Stylist & Barber Management and Marketing Tips</h1>
        <div class="blog-bullet d-flex">
          <i class="fas fa-check-circle fa-lg fa-icon pt-2 ps-3 me-3"></i>
          Hair To Chair engages professional marketers, hairstylists and barbers to provide their insights into
          helping you market your hairstyling services and businesses as an independent provider.
        </div>

        <div class="blog-bullet d-flex">
          <i class="fas fa-check-circle fa-lg fa-icon pt-2 ps-3 me-3"></i>
          Our primary goal of publishing these helpful guides and articles is to help you succeed with your own
          business.
        </div>

        <div class="blog-bullet d-flex">
          <i class="fas fa-check-circle fa-lg fa-icon pt-2 ps-3 me-3"></i>
          Please feel free to contact us if you have any suggestions for these updates and what you would like to read
          about, and don’t forget to check back regularly for updated news, views and resources for your stylist
          business.
        </div>
      </div>
      <div class="col-md-6 col-12">
        <img class="img-fluid" src="/assets/img/blog-landing.png" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4 d-flex" *ngFor="let post of posts">
      <app-blog-post [post]="post"></app-blog-post>
    </div>
  </div>
</div>