h1 {
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  margin: 0 0 48px 0;
}

.blog-top {

}

.blog-bullet {
  font-size: 16px;
  line-height: 26px;
  padding: 0 0 24px 0;

  .fa-icon {
    color: #0c878c;
  }
}
