.caption {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: #000000;
}

.fa-plus-circle {
  cursor: pointer;
}

textarea {
  &.input {
    height: auto;
  }
}

.editable {
  textarea {
    &.input {
      border: 0;
    }
  }
}

.fa-xl {
  color: #1fb2b9;
  font-size: 25px;
}

.image {
  flex-grow: 1;
  border: 1px solid #dedede;
  align-items: center;
  justify-content: center;
  display: flex;
}

.client-note {
  font-size: 14px;
  border: 1px solid #DEDEDE;
  border-radius: 2px;
  
  .note-date {
    font-family: 'spartan-semibold';
  }
}

.subtitle {
  font-family: "spartan-bold" !important;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.icons {
  position: absolute;
  top: 0;
  width: 100%;
  
  .fa-trash {
    background: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
  }
}
