<div class="row justify-content-md-center mb-4">
  <div class="col-8">
    <h3 class="steps-title">Let's organize your business the right way</h3>
    <p>Start by setting up your account</p>
  </div>
</div>
<div class="row text-left justify-content-md-center mb-4">
  <div class="col-4">
    <label>First & Last Name</label>
    <input type="text" formControlName="name" />
  </div>
  <div class="col-4">
    <label>Email</label>
    <input type="text" formControlName="email" />
  </div>
</div>
<div class="row text-left justify-content-md-center">
  <div class="col-4">
    <label>Password</label>
    <input type="password" formControlName="password" />
  </div>
  <div class="col-4">
    <label>Confirm Password</label>
    <input type="password" formControlName="confirmPassword" />
  </div>
</div>