<div class="container-fluid container-footer">
  <div class="container">
    <div class="row footer-item">
      <div class="col-lg-3 text-center text-lg-left pb-md-2"><a routerLink="/"><img class="nav-logo"
            src="assets/img/logo.png"></a></div>
      <div class="col-6 text-center">
        <a routerLink="/contact">CONTACT</a>
        <a routerLink="/privacy-policy">PRIVACY POLICY</a>
        <a routerLink="/terms">TERMS & CONDITIONS</a>
      </div>
      <div class="col-lg-3 text-right text-center text-lg-right">&copy; Hair To Chair 2020.<br />All Rights Reserved
      </div>
    </div>
  </div>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111511349-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-111511349-1');
</script>